version: '3'
# We setup the network required for vending aws credentials to the containers that need to test things locally
networks:
    # This special network is configured so that the local metadata
    # service can bind to the specific IP address that ECS uses
    # in production
    # Only use this network for any services that require connection to aws
    credentials_network:
      driver: bridge
      ipam:
          config:
              - subnet: "169.254.170.0/24"
                gateway: 169.254.170.1
    # Traefik network is used for Front end and backend (anything that needs to be routable)
    traefik_network:
      driver: bridge
    # Backend services network is used for backend and databases (so they can communicate)
    backend_services_network:
      driver: bridge
services:
  # This container is for the reverse-proxy which allows a single url (app_url)
  reverse-proxy:
    # The official v3 Traefik docker image
    image: traefik:v3.6.2
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - "--api.insecure=true" # Enables traefik dashboard that will listen on port 8080
      - "--providers.docker=true" # Defines docker as a provider
      - "--providers.docker.exposedbydefault=false" # Prevents from exposing all containers by default
      # - "--log.level=DEBUG"
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik_network
  # This container vends credentials to your containers
  ecs-local-endpoints:
    # The Amazon ECS Local Container Endpoints Docker Image
    image: amazon/amazon-ecs-local-container-endpoints
    volumes:
      # Mount /var/run so we can access docker.sock and talk to Docker
      - /var/run:/var/run
      # Mount the shared configuration directory, used by the AWS CLI and AWS SDKs
      # On Windows, this directory can be found at "%UserProfile%\.aws"
      - $HOME/.aws/:/home/.aws/
    environment:
      # define the home folder; credentials will be read from $HOME/.aws
      HOME: "/home"
      # You can change which AWS CLI Profile is used
      AWS_PROFILE: "default"
    networks:
        credentials_network:
            # This special IP address is recognized by the AWS SDKs and AWS CLI 
            ipv4_address: "169.254.170.2"
  backend:
    extends:
      file: ./backend/docker-compose.yaml
      service: backend
    # THIS SECTION CONNECTS THE BACKEND TO THE ECS-CREDENTIALS NETWORK FOR FETCHING CREDENTIALS
    depends_on:
      - ecs-local-endpoints
    ports: !override
      - "8000:8000"
    networks:
      # We must also make sure that the backend container is on the default network as well as the credentials network
      traefik_network:
      backend_services_network:
      credentials_network:
        ipv4_address: "169.254.170.3"
    labels:
    - traefik.enable=true
    - traefik.http.routers.backend.rule=Host(`api.cdk-web-app-template.localhost`)
    - traefik.http.services.backend.loadbalancer.server.port=8000
    - traefik.docker.network=${COMPOSE_PROJECT_NAME}_traefik_network
  frontend:
    extends:
      file: ./frontend/docker-compose.yaml
      service: frontend
    networks:
      # The frontend should be on the traefik network only
      traefik_network:
    ports: !override
      - "3000:3000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.rule=Host(`cdk-web-app-template.localhost`)
      - traefik.http.services.frontend.loadbalancer.server.port=3000
      - traefik.docker.network=${COMPOSE_PROJECT_NAME}_traefik_network