version: '3'
services:
  backend:
    extends:
      file: docker-compose.yaml
      service: backend
    command: flask --app app.server run --debug --host 0.0.0.0 --port 8000
    volumes:
      - ./app:/app/app