# MAIN CONFIGURATION FILE FOR THE ENTIRE APPLICATION
# VARIOUS OTHER FILES (.ENV FILES FOR EXAMPLE) WILL BE DERIVED FROM THIS CONFIGURATION

# NOTE THAT THIS FILE IS CHECKED INTO GIT SO SHOULD NOT CONTAIN SENSITIVE INFORMATION

############### REQUIRED KEYS ###################

############### AWS CONFIGURATION ###############
aws:
  account: "236208139397"
  region: us-east-1
  vpcid: "vpc-05d96911c4a3fff9c"

#################  GITHUB ACTIONS CONFIGURATIONS #############
github_actions:
  aws_region: us-east-1
  aws_deploy_role: "arn:aws:iam::236208139397:role/GithubActions"

############### GENERAL INFORMATION ###############
env: development
##### IMPORTANT: CHANGING THE APP NAME AFTER INITIAL DEPLOY WILL CAUSE A NEW STACK TO BE CREATED! #######
app_name: "webarena"

tags:
  tri.owner: "REPLACE_WITH_OWNER"
  tri.owner.email: "REPLACE_WITH_EMAIL"
  tri.project: "REPLACE_WITH_PROJECT_CODE"
  hcai.projectname: "REPLACE_WITH_PROJECT_NAME"
  hcai.stakeholder.email: "REPLACE_WITH_EMAIL"

############### EC2 INSTANCE CONFIGURATION ###############
ec2_instance:
  ami_id: "ami-082d2beba4535598b"
  instance_type: "t3a.xlarge"
  volume_size_gib: 1000
  key_pair_name: "" # Optional: SSH key pair name for instance access
  open_ports: [22, 7770, 7780]
