# MAIN CONFIGURATION FILE FOR THE ENTIRE APPLICATION
# VARIOUS OTHER FILES (.ENV FILES FOR EXAMPLE) WILL BE DERIVED FROM THIS CONFIGURATION

# NOTE THAT THIS FILE IS CHECKED INTO GIT SO SHOULD NOT CONTAIN SENSITIVE INFORMATION
# WE HAVE PROVIDED A local.secrets.yaml WHICH IS GITIGNORED FOR THE SECRETS

############### REQUIRED KEYS ###################

############### GENERAL INFORMATION ###############
# ENV will be used as a key component in the naming scheme.
# All resources will also be tagged with: stack-name and env to make them identifiable more easily
env: local
##### IMPORTANT: CHANGING THE APP NAME AFTER INITIAL DEPLOY WILL CAUSE A NEW STACK TO BE CREATED! #######
app_name: "dev-cdk-web-app-template"
app_url: "http://cdk-web-app-template.localhost"

tags:
  tri.owner.email: "REPLACE_WITH_EMAIL" #the email of the person who launched this resource and is responsible for maintaining, stopping, and terminating this resource
  tri.project: "REPLACE_WITH_PROJECT_CODE" #a special code for each project (or department) that TRI Finance uses to determine which department to bill for this resource http://toyotaresearchinstitute.atlassian.net/wiki/spaces/HSS/pages/2913894417/Tagging+AWS+Resources+for+HCAI#tri.project
  hcai.projectname: "REPLACE_WITH_PROJECT_NAME" #the name of the HCAI project that this AWS resource is used for
  hcai.stakeholder.email: "REPLACE_WITH_EMAIL" #the email of the HCAI project stakeholder


############### APP SERVICE INFORMATION ###############
app_services:
  frontend:
    service_url: "http://frontend:3000"
    directory: "frontend"
    attach_to_load_balancer: true
    container_ports:
      - 3000
    healthcheck:
      path: "/"
    # What needs to be connected to this service
    enabled_service_connections:
      amplify: true
  backend:
    service_url: "http://backend:8000"
    directory: "backend"
    attach_to_load_balancer: true
    container_ports:
      - 8000
    # Make sure this corresponds to the proper service url
    healthcheck:
      path: "/api/health"
      # command:
      #   - command
      #   - in
      #   - arry
      #   - form
    base_path: "/api"
    route_priority: 1
    # What needs to be connected to this service - These are optional
    enabled_service_connections:
      s3: true
      dynamodb: true
      # For EFS we must specify the mount point
      #TODO: check if we want to standardize this
      # efs:
      #   mount_point: "/mnt"
      # aurora: true
      # elasticache: true
    # resource_allocation:
    #   cpu: 1024
    #   memory: 2048

############### SERVICE-SPECIFIC ENVIRONMENT VARIABLES ###############
## DO NOT ADD SENSITIVE VALUES TO THESE AS THEY WILL BE CHECKED-IN TO REPO
app_environments:
  frontend:
    environment_variable1: value
  # backend:

app_secrets:
  # System wide secrets enable a single secret to be shared by all services (ex: app keys)
  system_wide:
    - APP_KEY
  # frontend:
  #   TEST_SECRET
  #   TEST_SECRET_1
  #   TEST_SECRET_2
  # backend:

############## OPTIONAL CONFIGURATION ################
# AWS Services that may be accessed by other portions of the application
aws_services:
  dynamodb:
    existing_dynamodb: true
    table_name: "dev-template-dynamodb-table"
    partition_key: "dev-partition-key"
  s3:
    existing_s3: true
    data_bucket_resolved_name: "dev-cdk-web-app-template-devcdkwebapptemplatedatab-05ths3caw4pu"
    logs_bucket_base_name: "dev-cdk-web-app-template-log-bucket"
  # efs:
  #   volume_name: "dev-template-volume"
  # elasticache:


# AWS Amplify should be separate as it needs to be accessed by the frontend
aws_amplify:
  enabled: false
  auth:
    region: "us-east-1"
    user_pool_id: "us-east-1_mXzZHTJsM"
    web_client_id: "54v83ukofkq7ju8viccev1uiud"

# ############### AWS CONFIGURATION ###############
aws:
  account: ""
  region: us-east-1
  vpcid: ""
  cert: ""
  ecr:
    url: ""
    region: "us-east-1"

#################  GITHUB ACTIONS CONFIGURATIONS #############
# This contains the
github_actions:
  aws_region: us-east-1
  aws_deploy_role: ""