name: Development Infrastructure - Run Unit Tests
on:
  # We run the CDK unit tests for any changes to the CDK on PR to main branch
  pull_request:
    branches:
      - main
    paths:
      - .github/**
      - cdk/**
      - config/**

jobs:
  run-cdk-unit-tests:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code first
      - name: Checkout Code
        uses: actions/checkout@v2
      # We install python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      # Now we can simply run the unit tests script prepared
      - name: Run cdk testing script file
        run: |
          chmod +x ./scripts/run_cdk_tests.sh
          ./scripts/run_cdk_tests.sh
        shell: bash
  # We've run cdk tests, now we show a comment with the diff so that it is easily viewable
  # Because this is when we create a push or PR to main, we utilize the development environment
  # TODO: if the above assumption doesn't work we need to ensure that we load the proper credentials here
  show-cdk-diff-results:
    runs-on: ubuntu-latest
    needs: [run-cdk-unit-tests]
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
      pull-requests: write
    steps:
      # Checkout the code first
      - name: Checkout Code
        uses: actions/checkout@v2
      # Load the 
      - name: Load Development GithubActions Config
        id: load_github_actions_config_development
        uses: ./.github/actions/load-yaml-action
        with:
          file_path: config/development.yaml
          keys_to_load: "github_actions, app_name, env, aws"
      - name: Validate github actions
        run: |
          echo region: ${{ steps.load_github_actions_config_development.outputs['github_actions.aws_region'] }}
          echo role: ${{ steps.load_github_actions_config_development.outputs['github_actions.aws_deploy_role'] }}
      - name: Load AWS Account
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ steps.load_github_actions_config_development.outputs['github_actions.aws_deploy_role'] }}
          aws-region: ${{ steps.load_github_actions_config_development.outputs['github_actions.aws_region'] }}
      - name: Install AWS CDK
        run: |
          pip install -r ${PWD}/cdk/requirements.txt
          npm install -g aws-cdk
      - name : Verify If Development stack exists
        id: stack-exists-check
        env:
          REGION: ${{ steps.load_github_actions_config_development.outputs['github_actions.aws_region'] }}
          STACK_NAME: ${{ steps.load_github_actions_config_development.outputs['app_name'] }}-${{ steps.load_github_actions_config_development.outputs['env']}}
        run: |
          if ! aws cloudformation describe-stacks --region ${{ env.REGION }} --stack-name ${{ env.STACK_NAME }} ; then
            echo -e "Stack does not exist - no need to run drift detection"
            echo "stack_exists=0" >> "$GITHUB_OUTPUT"
          else
            echo -e "Stack exists - proceed with drift detection"
            echo "stack_exists=1" >> "$GITHUB_OUTPUT"
          fi
      - name: Detect Drift on Development
        id: drift_detect_development
        if: ${{ steps.stack-exists-check.outputs.stack_exists == 1 }}
        uses: TRI-ML/cdk-drift-check@v0.0.4
        env:
          APP_NAME: ${{ steps.load_github_actions_config_development.outputs['app_name'] }}
          ENVIRONMENT: ${{ steps.load_github_actions_config_development.outputs['env'] }}
        with:
          stack_name: "${{ env.APP_NAME }}-${{ env.ENVIRONMENT }}"
      # TODO: We can change the below (running CDK Diff and optionally showing a comment) to it's own github action so as to add to other repos
      - name: Run CDK Diff and Display Development
        if: success() || failure()
        env:
          PR_URL: ${{ github.event.pull_request.comments_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd ./cdk

          cdk diff --ci --context deploy_env=${{ steps.load_github_actions_config_development.outputs['env'] }}> output.log
          # We add the proper formatting to the output.log file
          echo "### Development Environment: " > new_output.log
          if ${{ steps.drift_detect_development.outcome }} == 'success'; then
            if [[ "${{steps.drift_detect_development.outputs.result}}" == 'DRIFTED' ]]; then
              echo "> [!CAUTION]" >> new_output.log
              echo "> Development Environment has drifted - please be careful" >> new_output.log
            else
              echo "> [!NOTE]" >> new_output.log
              echo "> No drift in Development Environment" >> new_output.log
            fi
          fi
          awk 'BEGIN{print "#### Development CDK Diff\n<details><summary>Show Diff</summary>\n\n```bash"}END{print "```\n\n</details>\n\n"}1' output.log >> new_output.log
          
          # We get the development drift detection
          if ${{ steps.drift_detect_development.outcome }} == 'success'; then
            echo '${{ steps.drift_detect_development.outputs.details }}' | python3 -mjson.tool > drift_output.log
            # We add the proper formatting to the drift_output.log
            awk 'BEGIN{print "#### Development Drift\n<details><summary>Show Drift</summary>\n\n```json"}END{print "```\n\n</details>\n\n"}1' drift_output.log >> new_drift_output.log

            if [[ "${{steps.drift_detect_development.outputs.result}}" == 'DRIFTED' ]]; then
              # We add the drift detection outputs because we drifted
              cat new_drift_output.log >> new_output.log 
            fi
          fi

          jq --raw-input --slurp '{body: .}' new_output.log > output.json
          curl \
            -H "Content-Type: application/json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            -d @output.json \
            -X POST \
            $PR_URL
      # - name: Fail pipeline if Development Environment has Drifted
      #   env:
      #     PR_URL: ${{ github.event.pull_request.comments_url }}
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   if: steps.drift_detect_development.outputs.result == 'DRIFTED'
      #   run: |
      #     echo "Exiting because we have a drift detected"
      #     exit 1

  identify-services:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.load_service_names.outputs['app_services'] }}
    permissions:
      contents: read    # This is required for actions/checkout
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Load GithubActions and frontend Config
        id: load_service_names
        uses: ./.github/actions/load-yaml-action
        with:
          file_path: config/development.yaml
          keys_to_load: "app_services"
          max_depth: 0
          key_modification: "lower"
          value_modification: sanitize
  build-push-services:
    needs: [identify-services]
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
    strategy:
      matrix:
        service_name: ${{ fromJson(needs.identify-services.outputs.services) }}
    steps:
      # Checkout the code first
      - name: Checkout Code
        uses: actions/checkout@v2
      # We read the yaml configuration file for development
      - name: Load Github Actions AWS Credentials
        id: load_github_actions_config
        uses: ./.github/actions/load-yaml-action
        with:
          file_path: config/development.yaml
          keys_to_load: "github_actions"
      - name: Load Config
        id: load_config
        uses: ./.github/actions/load-yaml-action
        with:
          file_path: config/development.yaml
          keys_to_load: "app_name, app_services"
          key_modification: "lower"
          value_modification: sanitize
      # Configure AWS credentials for CDK diff and deploy
      # - name: Load AWS Account
      #   uses: aws-actions/configure-aws-credentials@v3
      #   with:
      #     role-to-assume: ${{ steps.load_github_actions_config.outputs['github_actions.aws_deploy_role'] }}
      #     aws-region: ${{ steps.load_github_actions_config.outputs['github_actions.aws_region'] }}
      - name: Test service matrix
        run: |
          echo "TAG: ecr-registry/${{ steps.load_config.outputs['app_name'] }}-${{ matrix.service_name }}"
          echo "./${{ steps.load_config.outputs[format('app_services.{0}.directory', matrix.service_name)] }}"
          echo "Sanitized name: ${{ steps.load_config.outputs['app_name']}}"
          echo "This would be a good place to add a standardized way of running service-based unit tests"
      # - name: Create the repository
      #   shell: bash
      #   run: |
      #     aws ecr describe-repositories --repository-names ${{ steps.load_config.outputs['app_name'] }}-${{ matrix.service_name }} || aws ecr create-repository --repository-name ${{ steps.load_config.outputs['app_name'] }}-${{ matrix.service_name }}